h1{
    text-align:justify;
    padding: 5px;
    margin-left: 200px;
   
}

form{
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    
}
.cancelbtn {
    margin-left: 200px;
    padding: 10px 20px;
    background-color: #f44336;
    border-radius: 20px;
}
.signupbtn{
    padding: 10px 20px;
    background-color: green;
    border-radius: 20px;
}
.model-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;

}
